*{
    box-sizing: border-box;
}

body, html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top:20px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

i {
    font-style: italic;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: purple;
}

form {
    display: flex;
    flex-direction: row;
    margin:20px;
}

input {
    margin:10px;
    font-size:1.25em;
    font-family: 'Poppins', sans-serif;
} 